extends includes/page.pug

block content
  h2 Hi, I'm Purag
  p I'm a junior at #[a(href="http://ucsd.edu") UC San Diego] studying #[a(href="http://cse.ucsd.edu") Computer Science]. My primary interests are in computability theory, computer architecture, and compiler construction.
  h3#experience Experience
  .card-container
    each e in experience
      if (e.show)
        +experience(e)
  h3#projects Projects
  .card-container
    each p in projects
      if (p.show)
        +experience(p)

block sidebar
  aside.sidebar
    h3 Links
    p
      each l in links
        a.ext(href=l.href target="_blank") #[i(class="fa fa-fw fa-lg fa-" + l.icon)] #{l.text}
    h3 Skills
    p A list of things would go here!
