@import url(//fonts.googleapis.com/css?family=Martel);
@import url(//fonts.googleapis.com/css?family=Catamaran);
@import url(//fonts.googleapis.com/css?family=Inconsolata);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab);
@keyframes blink {
  0%, 20% {
    opacity: 1; }
  90%, 100% {
    opacity: 0; } }

html {
  background: #f9f9f9;
  margin: 0; }

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  margin: 0; }

.container {
  display: flex;
  flex: 0 1 1200px;
  flex-wrap: wrap;
  font-family: "Catamaran", sans-serif;
  padding: 30px; }

.only-print {
  display: none; }

nav {
  text-align: right;
  position: fixed; }
  nav header {
    flex: 0 0 100%;
    margin-bottom: 10px; }
  nav h1 {
    background: #1a252c;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: "Inconsolata", monospace;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }
    nav h1 a {
      color: #f05e25;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
      nav h1 a:hover {
        color: #c04729; }
    nav h1 span.blink {
      animation: blink 1s infinite; }
  nav > a {
    color: #bbb;
    display: block;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
    nav > a:hover {
      color: #222; }
    nav > a.active {
      color: #f05e25;
      font-weight: 700; }
      nav > a.active + a {
        margin-top: 15px; }
    nav > a + a.active {
      margin-top: 15px; }
  nav .sub {
    font-size: 0.8em;
    margin-bottom: 15px;
    text-transform: lowercase; }
    nav .sub a {
      color: #bbb;
      display: block;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
      nav .sub a:hover {
        color: #222; }
      nav .sub a.active {
        color: #000;
        font-weight: 700; }

.sidebar {
  align-self: flex-start;
  flex: 0 0 200px; }
  .sidebar .skill {
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 3px;
    padding: 2px 6px;
    width: 100%; }
    .sidebar .skill:hover:after {
      color: rgba(0, 0, 0, 0.8);
      float: right;
      font-size: 0.9em; }
    .sidebar .skill.skill-10 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 10%, transparent 10%); }
    .sidebar .skill.skill-10:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 10%, transparent 10%); }
      .sidebar .skill.skill-10:hover:after {
        content: "10%"; }
    .sidebar .skill.skill-20 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 20%, transparent 20%); }
    .sidebar .skill.skill-20:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 20%, transparent 20%); }
      .sidebar .skill.skill-20:hover:after {
        content: "20%"; }
    .sidebar .skill.skill-30 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 30%, transparent 30%); }
    .sidebar .skill.skill-30:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 30%, transparent 30%); }
      .sidebar .skill.skill-30:hover:after {
        content: "30%"; }
    .sidebar .skill.skill-40 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 40%, transparent 40%); }
    .sidebar .skill.skill-40:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 40%, transparent 40%); }
      .sidebar .skill.skill-40:hover:after {
        content: "40%"; }
    .sidebar .skill.skill-50 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 50%, transparent 50%); }
    .sidebar .skill.skill-50:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, transparent 50%); }
      .sidebar .skill.skill-50:hover:after {
        content: "50%"; }
    .sidebar .skill.skill-60 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 60%, transparent 60%); }
    .sidebar .skill.skill-60:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 60%, transparent 60%); }
      .sidebar .skill.skill-60:hover:after {
        content: "60%"; }
    .sidebar .skill.skill-70 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 70%, transparent 70%); }
    .sidebar .skill.skill-70:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 70%, transparent 70%); }
      .sidebar .skill.skill-70:hover:after {
        content: "70%"; }
    .sidebar .skill.skill-80 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 80%, transparent 80%); }
    .sidebar .skill.skill-80:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 80%, transparent 80%); }
      .sidebar .skill.skill-80:hover:after {
        content: "80%"; }
    .sidebar .skill.skill-90 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 90%, transparent 90%); }
    .sidebar .skill.skill-90:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 90%, transparent 90%); }
      .sidebar .skill.skill-90:hover:after {
        content: "90%"; }
    .sidebar .skill.skill-100 {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 100%, transparent 100%); }
    .sidebar .skill.skill-100:hover {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 100%, transparent 100%); }
      .sidebar .skill.skill-100:hover:after {
        content: "100%"; }

main {
  flex: 1;
  padding: 0 40px; }

h2 {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 15px 0; }

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.35em; }

p {
  font-family: "Martel", serif;
  font-weight: 300;
  margin: 0 0 15px 0; }
  p a {
    color: #f05e25;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
    p a:hover {
      color: #c04729;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      margin-bottom: 2px; }

code {
  background: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 5px;
  padding: 0 5px; }

.card-container {
  margin-bottom: 15px; }
  .card-container .experience {
    background: #fff;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    margin: 10px 0;
    padding: 10px;
    position: relative; }
    .card-container .experience time {
      float: right;
      font-size: 0.9em; }
    .card-container .experience h4 {
      color: #f05e25;
      float: left;
      margin: 0; }
    .card-container .experience h5 {
      clear: both;
      margin: 0 0 4px 0; }
    .card-container .experience ul {
      clear: both;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .card-container .experience ul li {
        font-family: "Martel", serif;
        font-size: 0.8em; }
        .card-container .experience ul li:before {
          content: "\25b8  "; }
    .card-container .experience dl {
      margin: 0; }
      .card-container .experience dl dt {
        background: #f1f1f1;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: inline-block;
        font-family: "Inconsolata", monospace;
        font-size: 0.9em;
        line-height: 1.6em;
        margin: 5px;
        padding: 0 5px; }
    .card-container .experience[href] {
      border-style: solid;
      display: block;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .card-container .experience[href]:after {
        bottom: 10px;
        color: rgba(0, 0, 0, 0.2);
        content: "\f08e";
        font-family: "FontAwesome", sans-serif;
        position: absolute;
        right: 10px;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
      .card-container .experience[href]:hover {
        border-color: #f05e25; }
        .card-container .experience[href]:hover:after {
          color: #f05e25; }

a.ext {
  border-radius: 3px;
  color: #000;
  display: block;
  font-size: 0.8em;
  margin: 3px 0;
  padding: 8px;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  a.ext i {
    vertical-align: middle;
    width: 20px;
    margin-right: 6px; }

@media screen {
  .no-screen {
    display: none !important; } }

@media screen and (max-width: 900px) {
  header {
    float: left; }
  .sidebar, main {
    flex-basis: 100%; }
  .sidebar {
    font-size: 1.2em; }
  nav {
    position: relative; }
  main {
    padding: 0; } }

@media screen and (max-width: 900px) and (max-width: 410px) {
  nav h1 {
    font-size: 1.75em; } }

@media print {
  .no-print {
    display: none !important; }
  @page {
    margin: 0; }
  html {
    font-size: 9pt; }
  .container {
    padding: 10px; }
  div.sidebar {
    flex-basis: 100%; }
    div.sidebar nav {
      text-align: left;
      position: relative; }
      div.sidebar nav h1 {
        padding: 10px;
        font-size: 3em; }
        div.sidebar nav h1 .blink {
          animation: none !important; }
  main {
    padding: 0 10px 0 0; }
  .card-container .experience {
    margin: 6px 0;
    border-style: solid !important;
    padding: 0 5px; }
    .card-container .experience:first-child {
      margin-top: 0; }
  #projects {
    width: calc(100% + 200px); }
    #projects .card-container {
      columns: 2;
      column-gap: 6px; }
      #projects .card-container .experience {
        break-inside: avoid; }
  aside.sidebar {
    position: relative; }
    aside.sidebar .links {
      position: absolute;
      top: -72px;
      height: 72px;
      right: 0;
      width: 500px;
      text-align: right; }
      aside.sidebar .links a.ext {
        display: inline-block;
        background: #fff;
        font-size: 1.1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-left: 6px; }
        aside.sidebar .links a.ext i {
          margin-right: 6px; }
    aside.sidebar .skill {
      background: rgba(0, 0, 0, 0.05) !important;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 1.05em;
      margin: 4px;
      width: auto; } }
