extends includes/page.pug

block content
  h2 Hi, I'm Purag
  p I'm a junior at #[a(href="http://ucsd.edu") UC San Diego] studying #[a(href="http://cse.ucsd.edu") Computer Science]. My primary interests are in computability theory, computer architecture, and compiler construction.
  h3 Experience
  .card-container
    each e in experience
      +experience(e)
  h3 Projects
  p And even more stuff here!

block sidebar
  aside.sidebar
    h3 Skills
    p A list of things would go here!

