@page
  margin: 0

html
  font-size: 9pt

html, body
  background: none

.container
  padding: 0

div.sidebar
  flex-basis: 100%
  
  nav
    text-align: left
    position: relative

    h1
      padding: 10px
      font-size: 3em
    
      .blink
        animation: none !important

main
  padding: 0 10px 0 0

.card-container .experience
  margin: 6px 0
  border-width: 0
  padding: 0 5px

  &:first-child
    margin-top: 0

  &:after
    display: none

  h5
    display: inline
    margin-left: 10px

  time
    float: none
    margin-left: 10px
    color: #aaa

  ul
    font-size: 1.2em
    line-height: 1.25em

  dl
    margin-left: -5px

    dt
      border: none
      // line-height: 1.3em
      margin: 4px


#projects
  width: calc(100% + 230px)

  .card-container
    columns: 2
    column-gap: 6px

    .experience
      break-inside: avoid

aside.sidebar
  position: relative
  flex-basis: 230px

  .links
    margin-top: -72px
    text-align: right

    a.ext
      display: inline-block
      background: #fff
      font-size: 1.1em
      padding: 0 6px
      border: 1px solid rgba(0,0,0,0.2)
      border-radius: 4px
      margin: 1px

      i
        margin-right: 6px

  .skill
    background: rgba(0,0,0,0.05) !important
    // border: 1px solid rgba(0,0,0,0.2)
    margin: 4px
    width: auto
