extends ../includes/page.pug

block nav
  - var cur = "/about"

block content
  h2 About Me
  p I'm a senior at #[a(href="http://ucsd.edu") UC San Diego] studying #[a(href="http://cse.ucsd.edu") Computer Science]. My primary interests are in computability theory, computer architecture, and compiler construction.
  p My #[a(href="/pgp/key.asc") PGP key fingerprint] is #[code 9F51 F2E5 AA9C 08A2 5958 02C8 8999 1001 F2D4 6DF4].
  p My passions outside of Computer Science are education and activism. I support a number of causes and organizations, including the #[a(href="http://ayfwest.org") Armenian Youth Federation - Western Region] and #[a(href="http://stuvoice.org") Student Voice].
  p Some of my favorite movies are #[em The Usual Suspects], #[em Django Unchained], and #[em Moonrise Kingdom]. My all time favorite TV shows include #[em LOST], #[em Breaking Bad], #[em Mr. Robot], and #[em Game of Thrones]. I read books from time to time, and among my favorites are #[em The Sun Also Rises] and #[em Catch-22]. (Currently reading: #[em One Flew Over the Cuckoo's Nest])
  p I was born and raised in #[a(href="http://visitpasadena.com") Pasadena, CA], home of Caltech, JPL, and a number of other high-tech institutions. I went to #[a(href="http://aveson.org") Aveson Global Leadership Academy], which let me direct my learning in an unprecedented way and helped shape my views on learning and education.

block sidebar
  aside.sidebar
    h3 Links
    p
      each l in links
        a.ext(href=l.href target="_blank") #[i(class="fa fa-fw fa-lg fa-" + l.icon)] #{l.text}
