include mixins.pug

block nav
  - var cur = "/"

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Purag Moumdjian
    link(rel="stylesheet" href="/assets/css/style.css")
    script(src="https://use.fontawesome.com/8f43ab24d9.js")
  body
    .container
      .sidebar
        nav
          header
            h1 #[a(href="http://purag.me") purag] >#[span.blink _]
          each item in nav
            if cur === item.url
              a.active(href=item.url)= item.title
              if item.sub
                .sub
                  each subitem in item.sub
                    a(href=subitem.url)= subitem.title
            else
              a(href=item.url)= item.title
      main
        block content
      block sidebar
    script(src="/assets/js/all.js")
